<!-- left expand -->
<div class="left_block">
    <div>
        <div style="font-size: 20px; font-weight: bold; width: 90%; margin: auto; padding-top: 10px;"> 
            DEV Community is a community of 1,023,509 amazing developers
        </div>
        <div style="width: 90%; margin: auto; padding-top: 10px; opacity: 0.8;">
            We're a place where coders share, stay up-to-date and up grow their careers.
        </div>
        <div style="margin: 20px 0 5px 0; display: flex;">
            <a href="http://localhost:3000/register" type="button" class="btn btn-outline-primary" style="margin: auto; width: 80%">Create account</a>
        </div>
        <div style="margin: 10px 0 10px 0; display: flex;">
            <a href="http://localhost:3000/login" type="button" class="btn btn-light" style="margin: auto; width: 80%;">Log in</a>
        </div>
    </div>
    <div>
        <div>
            <div style="width: 90%; margin: auto; padding-top: 10px; opacity: 0.8;">
                DEV community runs on 100% open source code known as DevGang. 
                Contribute to the codebase or host your own!!!
                <a href="">DevGang_github</a>
            </div>
        </div>
    </div>
</div>
<!-- end left expand -->

<!-- right expand -->
<!-- <div class="right_block">
    <div style="font-size: 20px; font-weight: bold; margin-top: 10px; text-align: center;">
      Tag
    </div>
    <div><hr style="width: 60%; margin: auto; border-top: 1px solid;"></div>
    <div style="margin: auto; padding-top: 10px; opacity: 0.8; text-align: center;">
      #discuss
    </div>
    <div style="margin: auto; padding-top: 10px; opacity: 0.8; text-align: center;">
      #help
    </div>
    <div style="margin: auto; padding-top: 10px; opacity: 0.8; text-align: center;">
      #education
    </div>
    <div style="margin: auto; padding-top: 10px; opacity: 0.8; text-align: center;">
      #explain
    </div>
    <div style="margin: auto; padding-top: 10px; opacity: 0.8; text-align: center;">
      #tutorial
    </div>
</div> -->
<!-- end right expand -->

<!-- body -->
<div class="list-post">

    <div class="new-post" >Top | Lastest</div>

    <!-- list post -->
    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>
    
    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>

    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>

    <!-- Load more buttons -->
    <div style="text-align: center;">
        load more post
    </div>

</div>
<!-- end body -->

<!-- css link -->
<link rel="stylesheet" href="./css/body.css">