
<div id="header">
  <div class="logo">
    <a href="http://localhost:3000">
      <img src="./img/dev-to.png" alt="dev-to-logo">
    </a>
  </div>
  <!-- <img class="logo" src="./img/dev-to.png" alt="dev-to-logo"> -->
  
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- <button type="button" class="btn btn-light login-header-btn">Log in</button>
  <button type="button" class="btn btn-outline-primary create-header-btn">Create account</button> -->
  <button type="button" class="btn btn-outline-primary create-btn">Create Post</button>
  <div>
    <i class="fa-regular fa-bell noti-icon"></i>
  </div>
  <i class="fa-solid fa-circle-user avatar-icon"></i>
</div>


<!-- css link -->
<link rel="stylesheet" href="./css/header.css">
