<!-- HEADER -->
<%- include('header'); %>
<!-- END HEADER -->

<!-- BODY -->
<!-- left expand -->
<div class="left_block">
    <div>
        <div class="saved_posts_nav">
            <p style="margin: 3% 0 0 20px;">
                <i class="fa-solid fa-house" style="width:20px;"></i>
                Home
            </p>
        </div>
        <div class="liked_posts_nav">
            <p style="margin: 3% 0 0 20px;">
                <i class="fa-solid fa-database" style="width:20px;"></i>
                My Posts
            </p>
        </div>
        <div class="saved_posts_nav">
            <p style="margin: 3% 0 0 20px;">
                <i class="fa-solid fa-bookmark" style="width:20px;"></i>
                Saved Posts
            </p>
        </div>
        <div class="liked_posts_nav">
            <p style="margin: 3% 0 0 20px;">
                <i class="fa-solid fa-thumbs-up" style="width:20px;"></i>
                Liked Posts
            </p>
        </div>
    </div>
    <div>
        <div>
            <div style="width: 90%; margin: auto; padding-top: 10px; opacity: 0.8;">
                DEV community runs on 100% open source code known as DevGang. 
                Contribute to the codebase or host your own!!!
                <a href="">DevCom_github</a>
            </div>
        </div>
    </div>
</div>
<!-- end left expand -->

<!-- right expand -->
<!-- <div class="right_block">
    
</div> -->
<!-- end right expand -->

<!-- body -->
<div class="list-post">

    <div class="new-post" >Top | Lastest</div>

    <!-- list post -->
    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>
    
    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>

    <div class="post">
        <div class="header_post">
          <img src="./img/deno.jpg" alt="avatar"/>
          <ul class="header__about" style="padding-left: 15px">
            <li class="name" style="font-weight: bold">Jeff_Dean</li>
            <li class="date" style="opacity: 0.7">
              Mar 3 (4 day ago)
            </li>
          </ul>
        </div>
        <div class="body_post">
          <div class="content">
            <h3 style="font-size: 22px">
              My Favorite Free Course to Learn DevOps in 2023
            </h3>
          </div>
          <div>
            <p class="desc">
                So now we have an understanding of useEffect
                we have to choose what we should add as dependency array 
                input to counter the problem we were facing.
                And it’s good to see what you couldn’t foresee in 
                the commit history. Somehow, it improves your capacity to 
                foresee similar situations in new occasions...
            </p>
          </div>
        </div>
        <div class="footer_post">
          <div class="react">
            <div class="like" style="margin-right: 20px">
                <span>
                    <i class="fa-regular fa-thumbs-up"></i>
                    138 Like
                </span>
            </div>
            <div class="comment">
                <span>
                    <i class="fa-regular fa-comment"></i>
                    14 Comments
                </span>
            </div>
          </div>
          <div class="read_more">
                <span>
                    Read more
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
          </div>
        </div>
    </div>

    <!-- Load more buttons -->
    <div style="text-align: center;">
        load more post
    </div>

</div>
<!-- end body -->
<!-- END BODY -->

<!-- FOOTER -->
<%- include('footer'); %>
<!-- END FOOTER -->


<!-- link fontawesome, bootstrap  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- link css -->
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/body.css">
<link rel="stylesheet" href="./css/footer.css">
